@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
    --color-primary: #003be2;
    --color-secondary: #D4FB20;
}

@keyframes logo-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-logo-slide {
  animation: logo-slide 20s linear infinite;
}